<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <!-- Filters -->
    <filter>
        <filter-name>AccessControlFilter</filter-name>
        <filter-class>com.dptradeking.common.AccessControlFilter</filter-class>
    </filter>
    <filter>
        <filter-name>ContentTypeFilter</filter-name>
        <filter-class>com.dptradeking.common.ContentTypeFilter</filter-class>
    </filter>

    <!-- Filter Mappings -->
    <filter-mapping>
        <filter-name>AccessControlFilter</filter-name>
        <url-pattern>*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ContentTypeFilter</filter-name>
        <url-pattern>*</url-pattern>
    </filter-mapping>

    <!-- Servlets -->
    <servlet>
        <servlet-name>SubBrokersServlet</servlet-name>
        <servlet-class>com.dptradeking.subbrokers.SubBrokersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BranchesServlet</servlet-name>
        <servlet-class>com.dptradeking.branches.BranchesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HeadOfficeServlet</servlet-name>
        <servlet-class>com.dptradeking.headoffice.HeadOfficeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CombinedServlet</servlet-name>
        <servlet-class>com.dptradeking.all.CombinedServlet</servlet-class>
    </servlet>

    <!-- Servlet Mappings -->
    <servlet-mapping>
        <servlet-name>SubBrokersServlet</servlet-name>
        <url-pattern>/api/sub-brokers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BranchesServlet</servlet-name>
        <url-pattern>/api/branches</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HeadOfficeServlet</servlet-name>
        <url-pattern>/api/head-office</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CombinedServlet</servlet-name>
        <url-pattern>/api/all</url-pattern>
    </servlet-mapping>
</web-app>
